<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="strCon" connectionString="server=.;user id=sa; password=m12345; database=fdyy;"/>-->
    <!--<add name="strCon" connectionString="server=172.16.10.91;user id=sa; password=Abcd1234; database=fdyy;"/>-->
    <add name="strCon" connectionString="Data Source=172.16.10.35;Initial Catalog=NewDingWeixin;Persist Security Info=True;User ID=sa;Password=wdjsb$5^"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>